    body {
        background-color: #000;
        color: #0f0;
        font-family: 'Courier New', Courier, monospace;
    }
    .container {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .monitor-screen {
        width: 40%;
        height: 600px;
        background-color: #111;
        border: 2px solid #333;
        margin-right: 20px;
    }
    .statistics {
        width: 40%;
    }
    .card {
        background-color: #222;
        border: 1px solid #333;
        margin-bottom: 20px; 
    }
    .card-header {
        background-color: #333;
        border-bottom: 1px solid #444;
    }
    .card-body {
        color: #0f0;
    }
    a {
        color: #0f0;
    }
    .card-title, .card-text {
        color: #ffff; 
    }
    .monitor-pic{
        width: 140%;
        height: 100%;
        clip-path: inset(0px 220px 0px 0px);
        margin-left: 10px;
    }

    @keyframes flash_text {
        0% { color: white; }
        50% { color: red; }
        100% { color: white; }
    }

    .alarm{
        animation: flash_text .5s infinite;
    }
